.vscode/**
.github/**
src/**
test/**
out/test/**
docs/**
webview-ui/src/**
webview-ui/node_modules/**
node_modules/**
out/**/*.map
.gitignore
.eslintrc.json
tsconfig.json
tsconfig.test.json
esbuild.js
vsc-extension-quickstart.md
**/*.ts
!assets/**
!out/extension.js
!out/workers/db.worker.js
!out/webview-ui/**
!package.json
!LICENSE
!README.md
!CHANGELOG.md
